@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --cor-principal:#A9907E;
    --cor-complemento:#675D50;
}

body {
    background-color:#F3DEBA;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    margin-right: auto;
    margin-left:auto;
    margin-bottom:auto;
    margin-top:auto;
    font-weight:auto;
}

aside {
    margin-left:auto;
    margin-bottom:auto;
}

footer { 
    background-color:var(--cor-principal);
    font-family: 'Ubuntu', sans-serif;
    font-size:auto;
    margin-top:auto;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:auto;
    text-align: center;
    color:var(--cor-complemento);
    line-height:auto;
}

header {
    background-color:var(--cor-principal);
    font-size:auto;
    margin-top:auto;
    margin-bottom:auto;
    margin-right:auto;
    margin-left:auto;
}

.navegador-site ul {
    line-height:auto;
    margin-right:auto;
    margin-left:auto;
    display: flex;
    justify-content: space-between;
    margin-top:auto;
}

.navegador-site a { 
    font-size:auto;
    text-decoration:none;
    color: #ABC4AA;
}

.titulo-artigo {
    color:var(--cor-complemento);
    font-size:3rem;
    margin-top:auto;
    margin-bottom:auto;
    text-align: center;
}

.subtitulo-artigo {
    color:var(--cor-complemento);
    font-size:auto;
    margin-top:auto;
    margin-bottom:auto;
    text-align: center;
}

.subtitulo-aside {
    color:var(--cor-complemento);
    font-size:auto;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    line-height:auto;
}

.paragrafo {
    color:var(--cor-complemento);
    font-size:auto;
    margin-top:auto;
    margin-bottom:auto;
    text-align:left;
    line-height:auto;
}

.paragrafo-aside {
    color:var(--cor-complemento);
    font-size:auto;
    margin-top:auto;
    margin-bottom:auto;
    text-align:left;
    line-height:auto;
    justify-content: space-between;
}

.imagem-produto {
    height:auto;
    width:auto;
    margin-bottom:auto;
}

.imagem-aside {
    height:auto;
    width:auto;
    margin-top:auto;
}

.formulario-site {
    line-height:auto;
    width:auto;
    margin-bottom:auto;
    margin-top:auto;
    margin-left:auto;
    display: block ;
    color:var(--cor-complemento);
    font-size:auto;

}

.formulario-site input,
.formulario-site textarea,
.formulario-site select,
.formulario-site button {
  width: 100%;
  box-sizing: border-box;
}